body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #fbc3c3;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.graph {
  display: flex;
  justify-content: center;
}
